@{
    ViewBag.Title = "About";
}
<br />
<br />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


    <h3>Welcome to Deals4All</h3><br />

   
<div class="row">

    <div class="col-md-5">
        Deals4All is a Coupon/deals website that gives deals to the registered users based on their profile and interest.

        On this website, there are two kinds of users, the Merchants who sells the offers and general registered users who receives these offers

        For example, A local restaurant wants to give an offer to hundred customers - a two dollars off on twenty dollars or up purchase, so they can register on this website and fill the criteria and create a new deal.

        As a moderator, we will charge some minimum commission on each offer. When the customer will login we will generate a coupon code for top hundred users with matching interest and background.

        At the end of the month we can generate reports for- how much Merchants made, how much they owe to the moderator and we can also show general users how much saving they can make to those offers. The Unique code that we will generate for each offer will have to be redeemed at the counter of the Merchant by entering on our website for validity.

        API (Twilio) API (Twilio) We will also integrate with a third-party SMS delivery API (Twilio) to send text messages to the user and the merchant.
    </div>

</div>
