@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nashville Software School<br />
    500 Interstate Blvd S, Suite 300<br />
    Nashville, TN 37210<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@nashss.com">Support@nashss.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@nashss.com">Marketing@nashss.com</a>
</address>
