@{
    ViewBag.Title = "Home Page";
}

<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>-->
<br />
<br />
<div class="row">
    <h1 style="color:cadetblue">OUR MISSION IS TO BE THE DAILY HABIT IN LOCAL COMMERCE</h1>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Up to 70% Off on Restaurants, Spas, Fitness, Goods & More. Buy Now!

            Discover and save on 1000s of great deals at nearby restaurants, spas, things to do…

            Concerts & Live Events · Concerts & Live Events · Local, Goods & Getaways
            You have visited groupon.com once in last 7 days.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>We support Local Businesses and are here to support them.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <a href="http://localhost:50436/Account/Register"><img src="~/Images/travel-deals-banner-block.jpg" height="150" width="150" /></a>
        @*<h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>

</div>