
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Customizations customclass = new Customizations();
}
@using Microsoft.AspNet.Identity
<br />
<br />
<h2>Index</h2>

 

